.DS_Store

.git/
.parcel-cache
package-lock.json

# VS Code specific
.vscode
jsconfig.json
typings/*
typings.json

# Dependency directory for NPM
node_modules

# We don't want to push test to npm
jest.config.js
__mocks__
__tests__

# We don't want to push typescript setup
tsconfig.json
